IncreamentalLoad/pipeline/IncreamentLoad_MultipleTables.json
{
	"name": "IncreamentLoad_MultipleTables",
	"properties": {
		"activities": [
			{
				"name": "Lookup_WatermarkTable",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT TableName,WatermarkValue\nfrom WatermarkTable\nwhere TableName= '@{pipeline().parameters.TableName}'\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_Watermarksource",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Lookup_FileSource",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select max(@{pipeline().parameters.WatermarkColumn}) as LatestDate\nfrom @{pipeline().parameters.SchemaName}.@{pipeline().parameters.TableName}\n",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "SQL_MAXValue",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "Copy data1",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "Lookup_WatermarkTable",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "Lookup_FileSource",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "SELECT * FROM @{pipeline().parameters.SchemaName}.@{pipeline().parameters.TableName}\nwhere '@{pipeline().parameters.WatermarkColumn}' >'@{activity('Lookup_WatermarkTable').output.firstRow.WatermarkValue}'\nAND\n'@{pipeline().parameters.WatermarkColumn}' <= '@{activity('Lookup_FileSource').output.firstRow.LatestDate}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "DS_FileSource_Source",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "DS_Sink_Watermark",
						"type": "DatasetReference",
						"parameters": {
							"FileName": {
								"value": "@{pipeline().parameters.TableName}/@{pipeline().parameters.TableName}",
								"type": "Expression"
							}
						}
					}
				]
			},
			{
				"name": "Stored procedure1",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Copy data1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_watermark_table]",
					"storedProcedureParameters": {
						"lastmodifytime": {
							"value": {
								"value": "@activity('Lookup_FileSource').output.firstRow.LatestDate",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"TableNmae": {
							"value": {
								"value": "@activity('Lookup_WatermarkTable').output.firstRow.TableName",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "LS_GeneralSQLServer",
					"type": "LinkedServiceReference"
				}
			}
		],
		"parameters": {
			"TableName": {
				"type": "string"
			},
			"SchemaName": {
				"type": "string"
			},
			"WatermarkColumn": {
				"type": "string"
			}
		},
		"folder": {
			"name": "LoadToAzure"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-03T09:30:39Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}