IncreamentalLoad/pipeline/PL_Parent_IncremeamentLoad.json
{
	"name": "PL_Parent_IncremeamentLoad",
	"properties": {
		"activities": [
			{
				"name": "ItearateonAllTables",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_ReadJsonFile",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_ReadJsonFile').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "IncreamentLoad_MultipleTables",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"TableName": {
										"value": "@item().TableName",
										"type": "Expression"
									},
									"SchemaName": {
										"value": "@item().SchemaName",
										"type": "Expression"
									},
									"WatermarkColumn": {
										"value": "@item().WatermarkColumn",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			},
			{
				"name": "Lookup_ReadJsonFile",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "JsonSource",
						"storeSettings": {
							"type": "AzureBlobStorageReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "JsonReadSettings"
						}
					},
					"dataset": {
						"referenceName": "DS_Json_in_Blob",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			}
		],
		"folder": {
			"name": "LoadToAzure"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-03T09:00:04Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}